	body {
		/*background: -moz-linear-gradient(#B40404,#0B0B3B ); En Mozila*/
         background: -moz-radial-gradient(left bottom, circle farthest-side, #084B8A 0%, #A4A4A4 100%);
		/*background: -webkit-linear-gradient(#B40404,#0B0B3B); En Chrome*/
        background: -webkit-radial-gradient(left bottom, circle farthest-side, #084B8A 0%, #A4A4A4 100%);
		/*background: url('../imagenes/fondo2.jpg');
		background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        font-family: 'Tw Cen MT';
        text-align: center;
        font-size: 17px; */
	}

	.container{
        padding: 60px 120px;
        height: 100%;
	}

	.containerTable{
        padding: 0px 100px 0px 100px;
	}

	h2{
		font-family: 'Pacifico', cursive;
		text-align: center;
		background: rgba(175,238,238,0.5);
	}

	thead{
		background: rgba(175,238,238,0.5);
		font-weight: bold;
	}
