	.selected{
		cursor: pointer;
	}

	.selected:hover{
			background-color: #A9A9A9;
			color: white;
	}

	.seleccionada{
			background-color: #0585C0;
			color: white;
	}
	body {
		background: -moz-linear-gradient(#B40404,#0B0B3B ); /*En Mozila*/
		background: -webkit-linear-gradient(#B40404,#0B0B3B); /*En Chrome*/
	}